$fontColor: #2b2b2b; 
$bgColor: #f1f1f1; 
$defaultSize: 13px; 
$primButtonSize: 13px;

$bigSize: 16px; 
$primColor: #409eff;
$primColorHover: #66b1ff;
$primColorActive: #3a8ee6;
$primFocusColor: #409eff;
$primBorderColor: #dcdcdc; 
$primBorderHoverColor: #c0c4cc;
$primInputRadius: 4px;
$primButtonRadius: 4px;
$primDisabledBg:#f5f7fa;
$primDisabledBorder:#e4e7ed;
$primDisabledColor:#c0c4cc;
$inputHeight: 35px; // input高度
$inputPadding: 10px; // input高度
$inputBg: #fff;
$buttonColor: #606266;
$buttonBg: #fff;
$buttonColor: #fff;
$buttonBorderColor: #dcdfe6;
* {
  box-sizing: border-box;
}


html {
  margin: 0;
  font-size: $primButtonSize;
  padding: 0;
  line-height: 150%;
  body {
    margin: 0;
    padding: 0;
  }
  table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  dd,dt,dl {
    margin: 0;
    padding: 0;
  }
  input {
    background-color: $inputBg;
    background-image: none;
    border: 1px solid $primBorderColor;
    height: $inputHeight;
    line-height: $inputHeight;
    padding: 0 $inputPadding;
    border-radius: $primInputRadius;
    outline: none;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  }
  button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
  button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: $buttonBg;
    border: 1px solid $buttonBorderColor;
    border-color: $buttonBorderColor;
    color: $buttonColor;
    appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: all .1s;
    font-weight: 500;
    user-select: none;
    padding: 10px  15px;
    font-size: $primButtonSize;
    border-radius: $primButtonRadius;
  }
  button[primary] {
    color: $buttonColor;
    background-color: $primColor;
    border-color: $primColor;
  }
  button[primary]:active {
    background: $primColorActive;
    border-color: $primColorActive;
    color: $buttonColor;
  }
  button[primary]:hover {
    color: $buttonColor;
    background-color: $primColorHover;
    border-color: $primColorHover;
  }
  
  textarea {
    display: block;
    resize: none;
    background-color: $inputBg;
  }
  input:hover {
    border-color: $primBorderHoverColor;
  }
  input:focus {
    outline: none;
    border-color: $primFocusColor;
  }
  input[type=radio] {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
  input[type=checkbox] {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }
  
  input[disabled] {
    background-color: $primDisabledBg;
    border-color: $primDisabledBorder;
    color: $primDisabledColor;
    cursor: not-allowed;
  }


}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: #666;
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px hsla(220,4%,58%,.1);
    border-radius: 10px;
    background-color: #dcdcdc;
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 1px hsla(220,4%,58%,.3);
    background-color: #666;
}