<template>
  <div id="app">
  </div>
</template>

<script>
export default {
  name: 'App',
  mounted () {
    this.$root.USER().then((res) => {
      console.log(res)
      console.log(this.$store)
    })
  }
}
</script>

<style lang="scss">
@import './style/comm.scss';
img {
  // height: 3000px;
}
</style>
